<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    
    <title>Sample Angular filtering functions using JSON to load data</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
</head>
<body ng-app="jpaApp">

<h2>Filtering results</h2>
    <div ng-controller="appCtrl">

    <h4>Choose the filter you want to use and start typing inside the text box in order to trigger the filters.</h4>
    <form>
      Filters:
      <input type="radio" ng-model="myVar" value="byName">Name
      <input type="radio" ng-model="myVar" value="bySurname">Surname
      <input type="radio" ng-model="myVar" value="byPesel">Pesel
      <input type="radio" ng-model="myVar" value="byEmail">Email
    </form>
<div ng-switch="myVar">
  <div ng-switch-when="byName">
      <h3>Filter by name</h3>
     <p><input type="text" ng-model="test"> </p>
             <ul>
                     <li ng-repeat="x in persons | filter : test">{{ x.name }}</li>
             </ul>
  </div>
  <div ng-switch-when="bySurname">
     <h3>Filter by surname</h3>
          <p><input type="text" ng-model="test"> </p>
                  <ul>
                          <li ng-repeat="x in persons | filter : test">{{ x.surname }}</li>
                  </ul>
  </div>
  <div ng-switch-when="byPesel">
   <h3>Filter by PESEL</h3>
     <p><input type="text" ng-model="test"></p>
            <ul>
                 <li ng-repeat="x in persons | filter : test">{{ x.pesel }}</li>
            </ul>
  </div>

   <div ng-switch-when="byEmail">
    <h3>Filter by email address</h3>
       <p><input type="text" ng-model="test"></p>
              <ul>
                   <li ng-repeat="x in persons | filter : test">{{ x.email }}</li>
              </ul>
    </div>
</div>

<h4>Click on the headings to sort the columns in the alphabetical/ascending order</h4>
        <table class="table table-striped">
            <tr>
               <th ng-click="orderByMe('name')">Name</th>
                <th ng-click="orderByMe('surname')">Surname</th>
                <th ng-click="orderByMe('pesel')">PESEL</th>
                <th ng-click="orderByMe('email')">Email address</th>
           </tr>

           <tr ng-repeat="x in persons | orderBy:myOrderBy">
                <td>{{x.name}}</td>
                <td>{{x.surname}}</td>
                <td>{{x.pesel}}</td>
                <td>{{x.email}}</td>

           </tr>
        </table>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
   var app = angular.module('jpaApp', []).controller('appCtrl', function($scope, $http) {
       $http.get('http://localhost:8080/resource/persons').then(function(response){
           $scope.persons = response.data;
       });

      $scope.orderByMe = function(x) {
            $scope.myOrderBy = x;
        }
    });
</script>

</body>
</html>